<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

    <link href="~/css/admin.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

@{
    var currentPath = Context.Request.Path.Value;
    var segmentsToRemove = new[] { "admin/ordermanager", "Admin", "admin/productmanager", "accounts/accountmanager", "admin/addcategory" };

    var logoutPage = "/login/logout";
  

    foreach (var segment in segmentsToRemove)
    {
        if (currentPath.Contains(segment))
        {
         
            logoutPage = logoutPage.Replace($"{segment}/", "");
      
        }
    }
}

<body>
    <div class="grid-container">
        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left">
                <a href="home">
                    <span class="material-symbols-outlined" style="color: black">home</span>
                </a>
            </div>
            <div class="header-right">

                <h5>Xin Chào Admin </h5>

            </div>
            <span class="material-icons-outlined">account_circle</span>
        </header>
        <!-- End Header -->
        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-symbols-outlined">
                        admin_panel_settings
                    </span> Admin Panel
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="/admin/" target="">
                        <span class="material-icons-outlined">dashboard</span> Dashboard
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/admin/ordermanager" target="">
                        <span class="material-icons-outlined">inventory_2</span> Order Manager
                    </a>
                </li>
                <li class="sidebar-list-item">

                    <a href="/admin/orderdetail" target="">
                        <span class="material-icons-outlined">fact_check</span>  Order Detail
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/admin/productmanager" target="">
                        <span class="material-icons-outlined">manage_accounts</span> Product Manager
                    </a>
                </li>

                <li class="sidebar-list-item">
                    <a href="/accounts/accountmanager" target="">
                        <span class="material-icons-outlined">manage_accounts</span> Account Manager
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/admin/addcategory" target="">
                        <span class="material-icons-outlined">manage_accounts</span> Category Manager
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="@logoutPage" target="">
                        <span class="material-icons-outlined">logout</span> Log Out
                    </a>
                </li>
            </ul>
        </aside>
        <!-- End Sidebar -->
        @RenderBody()

        <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <!-- Custom JS -->

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/totalquantity.js"></script>
        <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
        <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        @RenderSection("Scripts", required: false)
        <script>
          $(document).ready(function () {
        // Initialize DataTable for myTable1
        var table1 = $('#myTable1').DataTable({
            lengthChange: false,
            pageLength: 5,
            
            order: [[0, 'desc']]
        });

        // Initialize DataTable for myTable2
        var table2 = $('#myTable2').DataTable({
            lengthChange: false,
            pageLength: 5,
           order: [[0, 'desc']]
        });

        // Initialize DataTable for myTable3
        var table3 = $('#myTable3').DataTable({
            lengthChange: false,
            pageLength: 5,
            order: [[0, 'desc']]
        });

        // Initialize DataTable for myTable4
        var table4 = $('#myTable4').DataTable({
            lengthChange: false,
            pageLength: 5,
            order: [[0, 'desc']]
        });
    });
        </script>
        <script src="~/js/rmads.js"></script>


    </div>

</body>
</html>
