@page
@model ShopWeb.Pages.Products.SearchProductModel
@{
}


<form method="get" class="d-flex justify-content-center mb-4">
    <input type="text" id="txtSearch" name="searchString" class="form-control w-50" placeholder="Search for products" >
    <button type="submit" class="btn btn-primary ms-2">Search</button>
</form>