@page
@model ShopWeb.Pages.Login.PasswordResetConfirmationModel


@{
    var currentPath = "Login/PasswordResetConfirmation";

    var loginPage = "/login/index";
    loginPage = loginPage.Replace($"Login/PasswordResetConfirmation", "");

}



<h2>Password Reset Successful</h2>
<p>Your password has been reset successfully. You can now <a asp-page="@loginPage">login</a> with your new password.</p>