@page
@model ShopWeb.Pages.Login.resetpassModel
@{
}

<h2>Reset Password</h2>

<form method="post">
    <input type="hidden" asp-for="Email" />
    <div class="form-group">
        <label asp-for="NewPassword">New Password</label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="checkbox mb-3">
        <!-- The following line controls and configures the Turnstile widget. -->
        <div class="cf-turnstile" data-sitekey="0x4AAAAAAAjqoIul52RAb-M_" data-theme="light"></div>
        <!-- end. -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
