@page
@model ShopWeb.Pages.Admin.SignalR.GetProdQuantityModel
@{
    Layout = null; // Assuming you want a standalone page without layout
}

<!DOCTYPE html>
<html>
<head>
    <title>Product Manager</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Page("/Admin/SignalR/GetProdQuantity")', // Ensure the URL is correct
                type: 'GET',
                success: function (data) {
                    console.log(data);
     
                },
                error: function (error) {
                    console.error("There was an error retrieving the products:", error);
                }
            });
        });
    </script>
</head>
<body>
    <h1>Product Quantity</h1>
    <div id="product-list">
        <!-- Product quantities will be injected here -->
    </div>
</body>
</html>
